In [41]:
with open('readme.txt') as f:
    titles = f.read()

In [42]:
title_list = titles.lower().replace('\n', '').split(', ')

In [43]:
import pandas as pd
skills_df = pd.read_csv('./skills.csv', index_col = 0)

In [44]:
skills_df.shape

(2093, 0)

In [45]:
added_df = pd.DataFrame(title_list, columns = ['skills'])

In [46]:
added_df[:2]

     skills
0  fivetran
1   meltano

In [47]:
combined = pd.concat([skills_df, added_df])
combined

                                              skills
material                                         NaN
pusher                                           NaN
common object request broker architecture        NaN
data classification                              NaN
api                                              NaN
...                                              ...
94                                           twitter
95                                         instagram
96                                           shopify
97                                            heroku
98                                          postgres

[2192 rows x 1 columns]

In [48]:
unique_skills = combined['skills'].unique()

In [49]:
unique_combined = pd.DataFrame(unique_skills, columns = ['skills'])

In [51]:
unique_combined.to_csv('skills.csv')